apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/containers/snowflakes-deployment-*_default_snowflakes-container-*.log
      pos_file /fluentd/log/fluentd-containers.pos
      tag kube.*
      read_from_head true
      refresh_interval 5
      <parse>
        @type json
      </parse>
    </source>

    <filter kube.**>
      @type record_transformer
      <record>
        message ${record["log"]}
      </record>
    </filter>

    <match **>
      @type stdout
    </match>
