spring:
  application:
    name: "Snowflake ID Generator"

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

snowflake-settings:
  starting-epoch: 946684800
  node-name: ${NODE_NAME}
  node-ip: ${NODE_IP}
  pod-name: ${POD_NAME}
  pod-ip: ${POD_IP}
  worked-id: ${WORKED_ID}

management:
  endpoints:
    web:
      base-path: /management
      path-mapping:
        health: health
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
      show-components: always
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
    db:
      enabled: true
